<div class="background-a">
  <div class="information-upper">
  <img src="<%= "/user_images/#{@user.image_name}" %>">
  <div class="name_email">
    <ul>
      <li><%= @user.name %></li>
      <li><%= @user.email %></li>
    </ul>
  </div>
</div>
<%= link_to("New Post", "/posts/new", {class: "new-post-btn"}) %>
<div class="user-post">
  <% @posts.each do |post| %>
      <div class="mypage-index-left">
        <img src="<%= "/post_photo/#{post.id}.jpg" %>">
      </div>
      <div class="mypage-index-right">
        <div class="mypage-upper">
          <h1><%= post.title %></h1>
          <p><%= post.content %></p>
        </div>
        <div class="mypage-lower">
          <%= post.created_at %>
        </div>
      </div>
  <% end %>
</div>
