<div class="content">
  <div class="content-image">
    <div class="menu">
      <ul>
        <% if session[:user_id] %>
          <li><%= session[:user_id] %></li>
          <li>Blogger</li>
          <li>Search</li>
          <li><%= link_to("My Page", "/users/#{session[:user_id]}", {class: "link"}) %></li>
          <li><%= link_to("Log Out", "/logout", {method: "post", class: "link"}) %></li>
        <% else %>
          <li>Blogger</li>
          <li>Search</li>
          <li><%= link_to("Log In", "/login", {class: "link"}) %></li>
          <li><%= link_to("Sign Up", "/users/new", {class: "link"}) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="content-middle">
    <div class="content-left">
      <h1>New Posts</h1>
      <% @posts.each do |post| %>
        <div class="new-post-form">
          <div class="index-left">
            <img src="<%= "/post_photo/#{post.id}.jpg" %>">
          </div>
          <div class="index-right">
            <%= post.title %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="content-right">
    </div>
  </div>
</div>
