<div class="content">
  <div class="content-image">
  </div>
  <div class="content-middle">
    <div class="content-left">
      <h1>New Posts</h1>
      <% if @posts %>
      <% @posts.each do |post| %>
        <div class="new-post-form">
          <div class="index-left">
            <img src="<%= "/post_photo/#{post.id}.jpg" %>">
          </div>
          <div class="index-right">
            <div class="index-right-top">
              <%= link_to(post.title, "/posts/#{post.id}", {class: "index-post-title"}) %>
            </div>
            <div class="index-right-bottom">
              <img src="<%= "/user_images/#{post.user.image_name}" %>">
              <span><%= post.user.name %></span>
              <p><%= post.created_at %></p>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
    <div class="content-right">
    </div>
  </div>
</div>
